<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="practice.ver1.dao.CustomerDao">

	<select id="listCustomer" resultType="practice.ver1.dto.CustomerDto">
		select custid custId, name, address, phone
		from customer;
	</select>
	
	<select id="detailCustomer" resultType="practice.ver1.dto.CustomerDto" parameterType="int">
		select custid custId, name, address, phone
		from customer
		where custid = #{custId};
	</select>
	
	<insert id="insertCustomer" parameterType="practice.ver1.dto.CustomerDto">
		insert into customer
		values (#{custId}, #{name}, #{address}, #{phone});
	</insert>
	
	<update id="updateCustomer" parameterType="practice.ver1.dto.CustomerDto">
		update customer
		set name = #{name}, address = #{address}, phone = #{phone}
		where custid = #{custId};
	</update>
	
	<delete id="deleteCustomer" parameterType="int">
		delete from customer
		where custid = #{custId};
	</delete>
	
</mapper>